.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }

.navbar-toggler {
  color: white; }

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
  color: grey; }

.navbar-brand {
  padding-left: 50px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  height: 100%;
  color: #5a5a5a; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #000; }

.footer_text {
  margin-top: 20px;
  color: #FFF; }

.overlay {
  color: #fff;
  position: absolute;
  color: white;
  left: 5rem;
  margin-top: 2.5rem;
  z-index: 20; }

.overlay h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0px;
  width: 80%; }

.overlay h1 span {
  font-weight: bold; }

.overlay p {
  line-height: 0.97;
  font-size: 1rem; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .overlay {
    margin-top: 2rem; }

  .overlay h1 {
    font-size: 2rem;
    width: 60%; }

  .overlay p {
    width: 100%;
    font-size: 1.2rem; }

  .overlay h5 {
    font-size: 1rem; }

  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: 200px; } }
@media only screen and (min-width: 360px) {
  .overlay {
    margin-top: 4rem; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .overlay {
    top: 0rem; }

  .overlay h1 {
    font-size: 3rem; }

  .overlay p {
    width: 80%; }

  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    height: auto; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .overlay {
    top: 1rem; }

  .overlay h1 {
    margin-top: 5rem;
    font-size: 4rem;
    width: 80%; }

  .overlay p {
    width: 50%; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .overlay h1 {
    font-size: 7rem; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .overlay {
    top: 14rem;
    left: 40rem;
    height: 50rem;
    bottom: 0;
    right: 0; }

  .overlay h1 {
    margin-top: 0rem;
    font-size: 7rem;
    width: 40%; }

  .overlay p {
    width: 30%; } }
/* Black and White Striped Divider */
.divider {
  background-image: url(../img/stripes.png);
  height: 2rem; }

/* General Section Styles */
.section_heading {
  font-weight: 900;
  font-size: 2.5em;
  color: #222222;
  text-transform: uppercase;
  text-align: center; }

.section_line {
  width: 15%;
  background-color: #000;
  height: 0.25rem;
  margin-top: -5px; }

/* Section 1*/
.section_admin {
  padding-top: 6rem;
  background-color: #FFF; }

.section_1 {
  background-color: #FFFFFE;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%; }

/*Section 2 */
.section_2 {
  background-color: #FFFFFE;
  padding-top: 3rem;
  width: 100%;
  margin: auto; }

.section_3 {
  padding-top: 3rem; }

/* Background Images on Home Page  */
.bg {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px; }

.bg2 {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px; }

/* TIMELINE */
/* Timeline code taken from here http://bootsnipp.com/snippets/featured/timeline-responsive */
.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 0 #000; }

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px; }

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35); }

.timeline li {
  margin-bottom: 25px;
  position: relative; }

.timeline li:before,
.timeline li:after {
  content: " ";
  display: table; }

.timeline li:after {
  clear: both; }

.timeline li:before,
.timeline li:after {
  content: " ";
  display: table; }

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  padding: 0px;
  padding-bottom: 20px;
  position: relative; }

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline li .timeline-panel.noarrow:before,
.timeline li .timeline-panel.noarrow:after {
  top: 0;
  right: 0;
  display: none;
  border: 0; }

.timeline li.timeline-inverted .timeline-panel {
  float: right; }

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #000;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #414141;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 19; }

.tl-heading h4 {
  margin: 0;
  background-color: #000;
  color: #fff;
  padding: 10px; }

.tl-body p,
.tl-body ul {
  margin-bottom: 0; }

.tl-body > p + p {
  margin-top: 5px; }

.tl-body {
  margin-top: 20px; }

/** media queries for timeline **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%; } }
@media (max-width: 700px) {
  .page-header h1 {
    font-size: 1.8em; }

  ul.timeline:before {
    left: 40px; }

  .tldate {
    width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px); }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0; }

  ul.timeline > li > .tldate {
    margin: 0; }

  ul.timeline > li > .timeline-panel {
    float: right; }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; } }

/*# sourceMappingURL=application.css.map */
