
 .row {
     margin-left: 0px;
     margin-right: 0px;
 }
 .container-fluid {
     padding-left: 0px;
     padding-right: 0px;
 }
 img {
     border: 0;
     max-width: 100%;
 }
 

 
 
 /* Sliders */
 
 img.slide {
	width: 100%; 
}
 
 /******************** Homepage Styles ********************/
 

 /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


 
 
 
 
 
 
 /******************** List & Single Page ********************/
 /* Page Heading */
 
 .border-container {
     margin-top: 3rem;
 }
 .border {
     background-image: url(../img/stripes.png);
 }
 .border-text {
     background-color: black;
     color: white;
     display: inline-block;
     padding: 1rem;
     text-transform: uppercase;
     font-size: 40px;
 }
 
 
 /******************** Single Page ********************/
 /* Carousel */
 /* Note: Might be able to delete these styles if I use the plugin*/

 
 .carousel-control.right,
 .carousel-control.left {
     background: none;
 }
 .carousel-caption {
     position: relative;
     text-align: left;
     color: black;
     left: 0px;
     right: 0px;
     text-shadow: none;
     background-color: #333;
     color: white;
     padding: 2rem;
     padding-bottom: 3rem;
     top: 100%;
     margin-top: 2rem;
max-width: 100%;

 }
 .carousel-indicators {
     top: 88%;
 }
 


 .main {
     margin-top: 2rem;
     margin-bottom: 5rem;
 }
 .sidebar {
     margin-top: 2rem;
     margin-bottom: 5rem;
 }
 /* Previous and Next Post */
 
 .glyphicon.next,
 .glyphicon.previous {
     font-size: 50px;
     color: #000;
 }
 /* Sidebar */
 
 .sidebar {
	margin-top: 10px;  
	 
 }
 
 .sidebar h3, .sidebar_heading {
     background-color: black;
     color: white;
     padding: 1rem;
 }
 
 #filters {
/* margin-left: 3rem;  */
 }
 .sidebar_thumbnail {
     border: none;
 }
 .thumbnail_meta {
     color: #959595;
     text-transform: uppercase;
 }
 .thumbnail_title {
     margin-top: 0px;
     font-weight: 700;
     font-size: 18px;
 }
 .thumbnail {
     border: none;
 }
 .thumbnail .caption {
     padding-left: 0px;
 }
 .thumbnail a > img,
 .thumbnail > img {
     margin-left: 0px;
     margin-right: 0px;
 }
 
 .widget {
	 margin-top: 10px;
	 margin-bottom: 30px; 
 }
 
 .current-menu-item > a, .current-menu-parent > a {
	 font-weight: bold; 
	 background: none !important; 
 }
 
 /******************** List Page ********************/
 
 
 /* How to get the boxes to have no padding in between them */
 .row.no-gutter {
     margin-left: 0;
     margin-right: 0;
 }
 .row.no-gutter [class*='col-']:not(:first-child),
 .row.no-gutter [class*='col-']:not(:last-child) {
     padding-right: 0;
     padding-left: 0;
 }
 /*Colored Content Boxes */
 
 .content-block {
     padding: 20px 30px;
     text-align: center;
     margin-bottom: 20px;
     color: #fff;
 }
 
 .content-block a {
	 color: #fff !important; 
 }
 .glyphicon {
     font-size: 24px;
 }

.list-group-item:hover :focus, .list-group-item > a:hover {
	background-color: transparent !important; 
}

/* Blog */

article.post {
	margin: 20px 0 40px; 
}

.post_title {
	font-weight: bold; 
}

.post_content {
	margin-top: 25px; 
}



