

 .row {
     margin-left: 0px;
     margin-right: 0px;
 }
 .container-fluid {
     padding-left: 0px;
     padding-right: 0px;
 }
 img {
     border: 0;
     max-width: 100%;
 }
 
 
 img.slide {
	width: 100%; 
}
 

 /* Page Heading Styles */
 
 .border-container {
     margin-top: 3rem;
 }
 .border {
    @include pattern-bg($pattern);
 }
 .border-text {
     background-color: $page_heading_background;
     color: $page_heading_text_color;
     display: inline-block;
     padding: 1rem;
     text-transform: uppercase;
     font-size: 40px;
 }

  .sidebar h3, .sidebar_heading {
     background-color: $sidebar_background_color;
     color: $sidebar_text_color; 
     padding: 1rem;
 }