
 
 .divider {
     @include pattern-bg($pattern);
     height: 2rem;
 }


 /* General Section Styles */
 .section_heading {
     font-weight: 900;
     font-size: 2.5em;
     color: $section_title_text; 
     text-transform: uppercase;
     text-align: center;
 }
 .section_line {
     width: 15%;
     background-color: $section_title_underline; 
     height: 0.25rem;
     margin-top: -5px;
 }

 

 .section {
padding-top: 6rem; 
background-color: #FFF; 
background-color: $homepage_section_bg_color;
width: 100%;
margin: auto;


  /* Section 1*/
 .section_1 {
     text-align: center;
  
 }
 
 
 /*Section 2 */
 .section_2 {
     
 }


 /*Section 3 */
 .section_3 {
 
   
 }




 }
 


 /* Background Images on Home Page  */
 .section_bg {
     text-align: center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
	 height: 300px; 
 }

 
 
 