/******************** Single Page ********************/
 /* Carousel */
 /* Note: Might be able to delete these styles if I use the plugin*/

 
 .carousel-control.right,
 .carousel-control.left {
     background: none;
 }
 .carousel-caption {
     position: relative;
     text-align: left;
     color: black;
     left: 0px;
     right: 0px;
     text-shadow: none;
     background-color: #333;
     color: white;
     padding: 2rem;
     padding-bottom: 3rem;
     top: 100%;
     margin-top: 2rem;
max-width: 100%;

 }
 .carousel-indicators {
     top: 88%;
 }
 


 .main {
     margin-top: 2rem;
     margin-bottom: 5rem;
 }
 .sidebar {
     margin-top: 2rem;
     margin-bottom: 5rem;
 }
 /* Previous and Next Post */
 
 .glyphicon.next,
 .glyphicon.previous {
     font-size: 50px;
     color: #000;
 }
 /* Sidebar */
 
 .sidebar {
	margin-top: 10px;  
	 
 }
 

 
 .sidebar_thumbnail {
     border: none;
 }
 .thumbnail_meta {
     color: #959595;
     text-transform: uppercase;
 }
 .thumbnail_title {
     margin-top: 0px;
     font-weight: 700;
     font-size: 18px;
 }
 .thumbnail {
     border: none;
 }
 .thumbnail .caption {
     padding-left: 0px;
 }
 .thumbnail a > img,
 .thumbnail > img {
     margin-left: 0px;
     margin-right: 0px;
 }
 
 .widget {
	 margin-top: 10px;
	 margin-bottom: 30px; 
 }
 
 .current-menu-item > a, .current-menu-parent > a {
	 font-weight: bold; 
	 background: none !important; 
 }
 